@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* A simple css reset */
body,
html {
    background: radial-gradient(circle at top,
    rgb(40,120,70) 0%,
    rgb(25,60,40) 40%,
    rgb(15,25,20) 100%);

    background-attachment: fixed;
}
/*reset for images to ensure they are 100% of the parent container width */
img {
    width: 100%;
    border-radius: 14px;
}
/* The hero section styling */
.hero {
    background-image: url('images/Website header.png');
    height: 25vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
/* Big text styling for the hero section */
.hero-text {
    font-family: 'Archivo Black', sans-serif;
    font-size: 4em;
}
/*Topic title banner */
.topic-title {
    font-family: 'Archivo Black', sans-serif;
    color: white;
    text-align: center;
    position: relative;
    font-size: 2em;
    padding: 0.4em 3em;
    background-color: rgb(40, 150, 90);
    border-radius: 16px;
    width: 70%;
    margin: 2em auto 0 auto;
}
/* Three column grid */
.topic-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    width: 70%;
    margin: 3em auto;
}
/* Topic cards */
.topic-card {
    background-color: rgb(34, 90, 60);
    color: white;
    padding: 1.2em;
    border-radius: 20px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.35);
    border: 2px solid rgb(225,140,40);
    transition: transform 0.2s ease;
}
/* small hover lift */
.topic-card:hover {
    transform: translateY(-6px);
}
/* card text */
.topic-card-text {
    font-size: 1.4em;
    margin-bottom: 0.5em;
    text-align: center;
}
/* Footer */
.footer {
    background-color: rgb(30, 120, 70);
    color: rgb(225,150,50);
    text-align: right;
    padding: 3em 3em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}